# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
*.env

# LaTeX
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Data & Models
*.csv
*.parquet
*.h5
*.pt
*.ckpt

# Build artifacts (Python package)
build/
dist/
*.egg-info/